<script id="tpl_listado_formato_content" type="text/x-handlebars-template">      
    <div class="row">
        <div class="col col-sm-4" >
            <ul class="nav nav-tabs nav-henker nav-stacked text-center" role="tablist">
            {{#instrumento.listaGrupoPregunta}}
                <li role="presentation" {{#ifCond id_grupo_pregunta "=="  '1' }} class="active" {{/ifCond}}  ><a href="#" role="tab" data-toggle="tab" style="font-size:12px; text-align:left;"  id="paso_{{id_grupo_pregunta}}">{{nombre}}</a></li>
                {{/instrumento.listaGrupoPregunta}} 
                <li role="presentation"><a href="#" role="tab" data-toggle="tab" style="font-size:12px; text-align:left;" id="paso_resumen">RESUMEN</a></li>
            </ul>
        </div>
    
        <div class="col col-sm-8">
            <div class="row tab-content">
                {{#instrumento.listaGrupoPregunta}}
                <div role="tabpanel" class="tab-pane {{#ifCond id_grupo_pregunta "=="  '1' }} active in {{/ifCond}} fade" id="paso_{{id_grupo_pregunta}}">
                    {{#listaPreguntas}}
                    <div class="form-group" class="padd_input">
                    <div class="col-md-9">
                    <label for="preg_{{id_pregunta}}">{{id_pregunta}}.-{{nombre}}</label>
                    </div>
                    <div class="col-md-3" style="text-align: center;">
                    {{#ifCond tipoPregunta.id_tipo_pregunta "=="  '1' }}
                        <div class="btn-group" data-toggle="buttons">
                        {{#listaPreguntaOpcion}}
                            <label class="btn btn-primary"><input type="radio" name="opt_{{id_pregunta}}" id="opt_{{id_pregunta}}_{{id_pregunta_opcion}}"  value="{{id_pregunta_opcion}}" autocomplete="off">{{nombre}}</label>
                        {{/listaPreguntaOpcion}}
                        </div>                                    
                    {{/ifCond}}
                    {{#ifCond tipoPregunta.id_tipo_pregunta "=="  '2' }}
                        {{#listaPreguntaOpcion}}
                        <div class="checkbox">
                            <label><input type="checkbox" id="opt_{{id_pregunta}}_{{id_pregunta_opcion}}" value="{{id_pregunta_opcion}}">{{nombre}}</label>
                        </div>
                        {{/listaPreguntaOpcion}}
                    {{/ifCond}}
                    {{#ifCond tipoPregunta.id_tipo_pregunta "=="  '3' }}
                        <select name="slct_{{id_pregunta}}" id="slct_{{id_pregunta}}" class="form-control" style="margin-left: 15px;">
                        {{#listaPreguntaOpcion}}
                            <option value="{{id_pregunta_opcion}}">{{nombre}}</option>
                        {{/listaPreguntaOpcion}}
                        </select>                                              
                    {{/ifCond}}
                    {{#ifCond tipoPregunta.id_tipo_pregunta "=="  '4' }}
                        <input type="text" name="inpt_{{id_pregunta}}" class="form-control" id="inpt_{{id_pregunta}}" maxlenght="100">
                    {{/ifCond}}
                    {{#ifCond tipoPregunta.id_tipo_pregunta "=="  '5' }}
                        <textarea class="form-control" name="inpt_mult_{{id_pregunta}}" id="inpt_mult_{{id_pregunta}}" rows="3" maxlenght="300"></textarea>
                    {{/ifCond}}
                    {{#ifCond tipoPregunta.id_tipo_pregunta "=="  '6' }}
                        {{tipoPregunta.nombre}}
                    {{/ifCond}}
                    {{#ifCond tipoPregunta.id_tipo_pregunta "=="  '7' }}
                        <input class="form-control" type="datetime-local" value="2011-08-19T13:45:00" id="example-datetime-local-input">
                    {{/ifCond}}
                    </div>
                    </div>
                    {{/listaPreguntas}}
                </div> 
                {{/instrumento.listaGrupoPregunta}} 
            </div>
        </div>
    </div>
    
    <div class="row">
        <ul class="list-inline pull-right">
            <li><button type="button" class="btn btn-default prev-step">Previo</button></li>
            <li><button type="button" class="btn btn-default next-step">Siguiente</button></li>
        </ul>                
    </div>
</script>